<html>
  <head>
    <title>AOC Stats</title>
    <style>
      body {
        font-family: sans-serif;
      }
      .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .container > div {
        margin: 50px;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Advent of Code Statistics</h1>
    <div class="container">
      <div class="scores">
        __SCORES__
      </div>
      <div>
        __TIMELINE_SUMMARY__
      </div>
      <div>__TIMELINE__</div>
    </div>
  </body>
</html>
